@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Barlow Condensed", sans-serif;
}
body {
    background: #FAFAFA;
    font-family: "Poppins", sans-serif;

}
$main_color: #C3AD76;
$para_color: #1D2532;
$mid_background: #e9e9e9;
.container {
    max-width: 1500px;
    margin: auto;
    padding: 0 1rem;
}
.serve3 {
    height: 500px !important;
}
nav {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 999;
    padding: .7rem 1rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    .logo {
        a {
            display: flex;
            align-items: center;
            gap: 4px;   
            text-decoration: none;
        }
        
        img {
            width: 50px;
            border-radius: 50%;
        }
        p {
            font-weight: 600;
            color: $para_color;
            span {
            color: $main_color;
            }
        }
    }
    .links {
        display: flex;
        gap: 2rem;
        a {
            text-decoration: none;
            color: $para_color;
            text-transform: uppercase;
            font-weight: 500;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                transition: transform .3s ease-out;
                height: 2px;
                background: $main_color;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right;
            }
            &:hover::after {
                transform: scaleX(1);
            transform-origin: left;
            }
        }
    }
    .nav-btn {
        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            padding: 14px 24px;
            font-weight: 800;
            background: $para_color;
            border: 0;
            color: $main_color;
           
            i {
                font-size: 18px;
            }
        }
    }
    .burger {
        display: none;
    }
}














.hero-section {
    padding-top: 5rem;
    .hero {
        .hero-slide {
            width: 100%;
            .img-pvcs {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                img {
                    width: 320px;
                    height: 600px;
                }
                .pvc1 {
                    height: 500px;
                }
            }
        }
    }
}
@media screen and (width <= 1400px) {
    .hero-section {
        .hero {
            .hero-slide {
                .img-pvcs {
                    img {
                        width: 200px;
                        height: 600px;
                    }
                    .pvc1 {
                        height: 500px;
                    }
                }
            }
        }
    }
}
@media screen and (width <= 786px) {
    .hero-section {
        .hero {
            .mySwiper {
                height: 400px;
            }
            .hero-slide {
                width: 100vw;
                height: 300px;
                .img-pvcs {
                    display: flex;
                    flex-direction: column;
                    img {
                        width: 100vw !important;
                        max-height: 600px;
                        object-fit: cover;
                    }
                    .pvc2{
                        width: 100%;
                        height: 400px;
                    }
                    .pvc3 {
                        display: none !important;
                    }
                    .pvc4 {
                        display: none !important;
                    }
                    .pvc1 {
                        display: none !important; 
                    }
                    
                }
            }
        }
    }
}
swiper-container {
    width: 100%;
    height: 40rem;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:grab;
    &:active {
        cursor: grabbing;
    }
  }

  swiper-slide  {
        img {
         width: 100%;
         height: 100%;
         object-fit: cover;
        }

  }






  .know {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 100px;
    .know-img {
        flex: 1;
        height: 500px;
            position: relative;
            width: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
           
        img {
            object-fit: cover;
            width: 90%;
            height: 94%;
            
        }
       
    }
    .know-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.4rem;
        h2 {
            font-weight: 400;
            line-height: 80%;
            color: $main_color;
        }
        p {
            color: $para_color;
            font-size: .9rem;
        }
        .know-btn {
            padding: .8rem 1.4rem;
            background: $para_color;
            color: $main_color;
            border: none;
            text-transform: uppercase;
            font-weight: 800;
            cursor: pointer;
            transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .3s cubic-bezier(0.19, 1, 0.22, 1);
       &:hover {
        background: $main_color;
        color: $para_color;
       }
        }
    }
  }






.service-section {
    margin-top: 200px;
    
    .serve-text {
        margin-bottom: 50px;
        font-weight: 300;
        color: $main_color;
        text-align: center;
        position: relative;
       
    }
    .serve-swipe {
        height: 500px;
        swiper-slide {
            display: flex;
            flex-direction: column;
            height: 200px;
            margin-top: 20px;
            a {
                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }
            p {
                color: $para_color;
                font-weight: 500;
                padding: 10px 0;
                white-space: fit-content;
            }
        }
      }
     
}
  


.serve-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    button {
        padding: 1rem 2rem;
        background: $para_color;
        color: $main_color;
        border: 1px solid $main_color;
        cursor: pointer;
    }
}

.trust-section {
    background: $mid_background;
    padding: 100px 0;
    margin-block: 100px;
    .trust {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .trust-awards {
            display: flex;
            flex: 1;
            .big1,.big2 {
                display: flex;
                flex-direction: column;
                margin: 10px;
                gap: 10px;
            }
            .award {
                width: 100%;
                min-height: 200px;
                background: $para_color;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                text-align: center;
                h3 {
                    color: $main_color;
                    font-size: 2.5rem;
                    font-weight: 800;
                }
                h5 {
                    text-transform: uppercase;
                    font-weight: 600;
                }
                p {
                    margin-block: .3rem;
                    font-size: .9rem;
                    color:  $mid_background;
                }
            }
        }
        .trust-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            align-items: start;
            h2 {
                font-size: 2rem;
                color: $main_color;
                line-height: 100%;
            }
            p {
                font-size: .9rem;
                color: $para_color;
            }
         
        }
    }
}

.consult-btn {
    padding: 1rem 2rem;
    background: $para_color;
    color: $main_color;
    cursor: pointer;
    border: 0;
    font-weight: 600;
}











// .about page
.about-hero-section {
    min-height: 20rem;
    background: url(img/157501-final.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
    margin-top: 5rem;
}


.about-story-section {
    margin-block: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-bottom: 50px;
        color: $main_color;
    }
    .about-story {
        display: flex;
        gap: 1rem;
        align-items: center;
        .left1 {
            flex: 1;
            p {
                font-size: .9rem;
                color: $para_color;
                padding-top: 10px;
            }
        }
        .left2 {
            flex: 1;
            img {
                width: 100%;
                min-height: 400px;
                object-fit: cover;
               }
        }
      
        
       
    }
    .consult-about {
        margin-top: 1rem;
    }
}

.partners-story-section {
    margin: 120px auto;
    overflow-x: hidden;
    h2 {
        text-align: center;
        margin-bottom: 80px;
        color: $main_color;
    }
    .about-marquee {
        display: flex;
        .list {
            display: flex;
            gap: 4rem;
            white-space: no-wrap;
            animation: scroll linear 15s infinite;
            .img1 {
                padding: 0 40px;
            }
           
            img {
                width: 320px;
                height: 80px;
            }
            .bei {
                width: 220px;
                object-fit: cover;
            }
           
        }
    }
}
    
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.about-team-section {
    h2 {
        text-align: center;
        margin-bottom: 80px;
        color: $main_color;
    }
    .about-team {
        display: flex;
        max-width: 1000px;
        margin: auto;
        padding: 0 1rem;
        flex-direction: column;
        .better {
            display: flex;
            gap: 10px;
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 380px;
            margin: auto;
            margin-bottom: 3rem;
            min-height: 770px;
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                margin-bottom: 12px;
            }
            h5 {
                line-height: 100%;
                font-size: 1.5rem;
                text-transform: uppercase;
                margin-top: 12px;
                margin-bottom: 12px;
            }
            h6 {
                line-height: 100%;
                font-size: .9rem;
                font-weight: 300;
                color: $para_color;
                border-bottom: 2px solid $main_color;
                margin-bottom: 12px;
            }
            p {
                font-size: .88rem;
                line-height: 160%;
                color: $para_color;
                text-align:  center;
            }
        }
    }
}

.chairman-section {
    background:  $mid_background;
    margin-top: 100px;
    margin-bottom: 100px;
    .chairman {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 20rem;
        text-align: center;
        padding: 20px 0;
        h2 {
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p {
            font-size: .9rem;
            width: 80%;
            letter-spacing: .6px;
            line-height: 160%;
            color: $para_color;
        }
    }
}




.custom-chairman {
    background: transparent;
    .chairman {
        h2 {
            color: $main_color;
            font-size: 3.7rem;
            font-weight: 700;
        }
    }
}
.about-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    .text {
        h3 {
            text-align: center;
            font-size: 2rem;
            color: $para_color;
        }
    }
    .about-contact-btn-container {
        a {
            text-decoration: none;
            button {
            cursor: pointer;

                padding: .8rem 2.5rem;
                border: 0;
                background: $main_color;
                color: $para_color;
                font-size: 1.1rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                i {
                    font-size: 1rem;
                    animation: phonemove 1s infinite ease-in;
                }
            }
        }
    }
}
@keyframes phonemove {
    0% {
        transform: rotate(0deg) scale(1);

    }
    50% {
        transform: rotate(5deg) scale(1.3);
    }
    100% {
        transform: rotate(0deg) scale(1);

    }
}
.footer-section {
    background: $para_color;
    color: #eee;
    margin-top: 100px;
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .foot-logo {
            img {
                width: 150px;
            }
        }
            h3 {
                font-size: 2.2rem;
                font-weight: 200;
            }
            p {
                font-size: .95rem;
                color:  $mid_background;
            }
            .foot-contacts {
                display: inline-flex;
                gap: 1.2rem;
                i {
                    background: $main_color;
                    border-radius: 50%;
                    padding: 5px;
                    color: $para_color;
                }

            }

    }
    .footer-text {
        text-align: center;
        padding: 20px 0;
        font-size: .9rem;
        font-weight: 300;
    }
}

.contact-contact-section {
    margin-top: 100px;
    .container-diff {
        max-width: 1024px;
        margin: auto;
        padding: 0 1rem;
    }
    h2 {
        text-align: center;
        color: $main_color;
    padding: 0 1rem;
    margin-bottom: .7rem;
    }
    .bot-p {
    padding: 0 1rem;
        text-align: center;
        font-size: .9rem;
        color: $para_color;
    }
    .contact-contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin: 100px auto;
        .contact-left {
            flex: 1;
            background: $para_color;
            color: #eee;
            padding: 1rem 1.4rem;
            min-height: 500px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 1rem;
            p {
                padding: 0 1rem;
                font-size: .9rem;
            }
            .up-contain {
                h3 {
                    font-size: 1.5rem;
                    font-weight: 200;
                    margin-bottom: .3rem;
                    color: $main_color;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    i {
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .contact-right {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: start;
            form {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                width: 100%;
                input {
                    width: 100%;
                    height: 40px;
                    padding: 12px;
                }
                textarea {
                    width: 100%;
                    height: 150px;
                    padding: 12px;
                    resize: none;
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }
    }
    .submit-btn {
        align-self: start;
        padding: .8rem 2.5rem;
        background: $para_color;
        color: $main_color;
        border: 0;
        cursor: pointer;
    }
}
.society-nav {
    position: relative;
 
    .society-link {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            i {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
    .links-dropdown {
        position: absolute;
        background: #222;
        margin-top: .3rem;
        min-width: 250px;
        height: 0;
        overflow: hidden;
        a {
            display: block;
        color: #fff;
            padding: .6rem .8rem;
            font-size: .7rem;
            font-weight: 400;
        }        
    }
}
.dropdown-appear {
    height: auto !important;
    overflow: auto;
}










.blog-post-section {
    .blog-post {
        position: relative;
        display: flex;
        gap: 9rem;
        .blog-text {
            flex: 1.5;
        }
    .blog-links {
        flex: .5;
        padding: 15px;
        h2 {
            color: $main_color;
        }
        a {
            color: $para_color;
            display: block;
        }
    }
        .blog-text {
            
            .blog-list-special {
                display: flex;
                align-items: start;
                justify-content: space-between;
                div {
                    span {
                        border-bottom: 2px solid $main_color;
                    }
                    h5 {
                        padding: 5px;
                        border-bottom: 2px solid $para_color;
                    }
                }
            }
            img {
                width: 600px;
                display: block;
                margin-bottom: 12px;
            }
            .blue-big {
                color: $main_color;
                font-size: 1.7rem;
                font-weight: 500;
                margin-bottom: 12px;
            }
            .blog-p {
                font-size: .9rem;
                margin-bottom: 12px;
                color: $para_color;
                .bold-p-span {
                    font-weight: 600;
                }
            }
            .bold-blog {
                margin-bottom: 12px;
            }
            .blog-list {
                margin-bottom: 12px;
                li {
                     color: $main_color;
                     margin-bottom: 6px;
                     font-size: .9rem;
                     span {
                        color: $para_color;
                     }                   
                }
            }
        }
    }
}



















.town-section {
    padding-top: 5rem;
    padding-bottom: 3rem;
    .hero {
        background: $para_color;
        color: $main_color;
        min-height: 7rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
}
.strong {
    font-weight: 800;
}
@media screen and (width <= 968px){
    .about-team-section {
        .about-team {
            .better {
                flex-direction: column;
            }
        }
    }
    .hero-section {
        .hero {
            .hero-slide {
                .img-pvcs {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }
.blog-post-section {
    .blog-post {
        .blog-text {
            img {
                width: 100%;
            }
        }
        .blog-links {
            display: none;
        }
    }
}
    .society-nav  {
        .links-dropdown {
            position: relative;
        }
   
    }
    .contact-contact-section {
        .contact-contact {
            flex-direction: column;
            .contact-left {
                width: 100%;
            }
            .contact-right {
                width: 100%;
            }
        }
    }
    .footer-section {
        .footer {
            flex-direction: column;
        text-align: center;
        gap: 2rem;           
            .help-support {
                order: 1;
            }
        }
    }
    .about-contact {
    flex-direction: column;
    gap: 1rem;
    }
    .timeline {
        display: none;
    }
    .about-story-section {
        .about-story {
            flex-direction: column;
            .left2 {
                img {
                    min-height: 300px !important;
                }
            }
           
        }
    }
    .trust-section {
        .trust {
            flex-direction: column;
        }
    }
    .know {
        flex-direction: column;
        .know-img {
            height: 200px;
            img {
                height: 100%;
            }
    

                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    
                }
               
            
        }
    }
    nav {
        .links {
            position: fixed;
            top: 0%;
            right: -100%;
            min-width: 30vw;
            height: 100vh;
            z-index: 15;
            background-color: #2e2d2d;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: right .4s;
            a {
                color: #FAFAFA;
            }
        }
        .nav-btn {
            display: none;
        }
        .burger {
            display: flex;
            cursor: pointer;
            z-index: 25;
            i {
                font-size: 30px;
                color: $main_color;
            }
        }
    }
    .nav-active {
        right: 0% !important;
    }
    .service-section {
        .serve-swipe {
            height: 520px;
            a {
                display: block;
                img {
                    height: 600px !important;
                }
            }
          
        }
    }
    .trust-section {
        .trust {
            .trust-text {
                align-items: center;
                text-align: center;
            } 
        }
        
    }
}
 
@media screen and (width <= 400px){
    .trust-awards {
        display: flex;
        flex: 1;
        flex-direction: column;
        .big1,.big2 {
            display: flex;
            flex-direction: column;
            margin: 10px;
            gap: 10px;
        }
        .award {
            width: 100%;
            min-height: 200px;
            background: $para_color;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            text-align: center;
            
        
        }
    }
}